#image-duck {
  width: 75%;
  height: auto;
}

#image-duck-random {
  width: 75%;
  height: auto;
}

#lab-image {
  width: 75%;
  height: auto;
}

#genre-button {
  margin-top: 12px;
  font-family: 'Titillium Web', 'Verdana', sans-serif;
  color: rgb(92, 126, 154);
}

#both-button {
  margin-top: 12px;
  font-family: 'Titillium Web', 'Verdana', sans-serif;
  color: rgb(92, 126, 154);
}

#fact-button {
  margin-top: 12px;
  font-family: 'Titillium Web', 'Verdana', sans-serif;
  color: rgb(92, 126, 154);
}

body {
  font-family: 'Titillium Web', 'Verdana', sans-serif;
  color: rgb(166, 191, 213);
}

#name-duck {
  padding-top: 10px;
}