#genre-button {
  margin-top: 12px;
  font-family: 'Mooli', sans-serif;
  color: rgb(92, 126, 154);
}

#both-button {
  margin-top: 12px;
  font-family: 'Mooli', sans-serif;
  color: rgb(92, 126, 154);
}

#fact-button {
  margin-top: 12px;
  font-family: 'Mooli', sans-serif;
  color: rgb(92, 126, 154);
}

body {
  font-family: 'Mooli', sans-serif;
  background-color: darkgray;
  color: rgb(166, 191, 213);
}

